.capitulo {
	background: white;
	margin: 0px 30px;
}
.capitulo ul li{
	text-align: left;
	list-style: none;
	display: inline-block;
	margin-right: 30%;	
}

.panelCapitulo{
	margin-top: 30px;
	height: 700px;
	border-style: groove;
	border-color: #e8e8e8;
}

.contenido{
	padding-left: 30px;
}

.fas{
	font-size: 40px;
}

.divDatos a:visited{
	color: black;
}