/*******************	Control de alumno	*******************/
.studentCont{
	padding: 15px 30px;
	display: flex;
	background-color: white;
	margin: 20px 50px;
	border-style: groove;
	border-color: #e8e8e8;
	min-height: 400px;
}
.encabezado{
	 margin-bottom: 50px;
}
.entrada h3{
	margin-right: 10px;
	margin-left: 10px;
}
.studentInput{
	max-height: 30px;
	width: 270px;
	margin-top: 100px;
	margin-left: 20px;
}
.studentInput input{
	margin-bottom: 23px;
}
.studentInput input[id="_nombreAlu"]{
	max-height: 30px;
	width: 300px;	
}
.studentInput input[id="_correoAlu"]{
	max-height: 30px;
	width: 300px;	
}
.studentInput select{
	max-height: 30px;
	max-width: 200px;
	margin-bottom: 20px;
}
.mismoFlex{
	display: flex;
	margin-right: 20px;
}
.mismoFlex h3{
	margin: 0 auto;
	min-width: 180px;
	padding-left: 30px;
}
.apeInput{
	min-width: 200px;
}
.mismoFlex input{
	min-width: 130px;
	max-height: 30px
	margin-right: 50px;
}
.mismoFlex select{
	min-height: 25px; 
}
.formBoton{
	margin-top:	40px;
}

.formBoton button:hover{
	color: gray;
}

.enviar{
	color: #E1E1E1;
	background-color: #50508F;
	border: none;
	padding: 5px 30px; 
}

.enviar:hover{
	color: gray;
}

.formBoton [id="Limpiar"]{
	border-color: #e8e8e8 ;
	border-style: groove;
	padding: 5px 30px; 
}

.adminAlu {
	display: flex;
	flex-direction: column;
	color: black;
	margin: 0 auto;
}

.adminAlu a:link{ 
	text-decoration:none; 
	color: black;
} 

.adminAlu a{
	margin: 25px 0;
}

.adminAlu a:hover{
	color: #8DABC2;
	border-bottom: 1px solid #8DABC2;
	margin: 24.5px 0;
}

.adminAlu a:visited {
	color: black;
	display: none;
	text-align: left;
}

.idAl{
	min-width: 300px;
}

.passUpdate{
	background-color: white;
	margin:150px 100px ;
	padding: 50px 100px;
}
.studentContAlu{
	padding: 15px 30px;
	display: block;
	background-color: white;
	margin: 20px 50px;
	border-style: groove;
	border-color: #e8e8e8;
	min-height: 400px;
}

.elim button{
	margin: 20px auto;

}

/*******************	Control de alumno	*******************/
