/*******************	Control de alumno	*******************/
.studentCont{
	padding: 15px 30px;
	display: flex;
	background-color: white;
	margin: 20px 50px;
	border-style: groove;
	border-color: #e8e8e8;
	min-height: 400px;
}
.encabezado{
	 margin-bottom: 50px;
}
.entrada h3{
	margin-right: 10px;
	margin-left: 10px;
}
.studentInput{
	max-height: 30px;
	width: 270px;
	margin-top: 100px;
	margin-left: 20px;
}
.studentInput input{
	margin-bottom: 23px;
}
.studentInput input[id="_nombreAlu"]{
	max-height: 30px;
	width: 300px;	
}
.studentInput input[id="_correoAlu"]{
	max-height: 30px;
	width: 300px;	
}
.studentInput select{
	max-height: 30px;
	max-width: 200px;
	margin-bottom: 20px;
}
.mismoFlex{
	display: flex;
	margin-right: 20px;
}
.mismoFlex h3{
	margin: 0 auto;
	min-width: 180px;
	padding-left: 30px;
}
.apeInput{
	min-width: 200px;
}
.mismoFlex input{
	min-width: 130px;
	max-height: 30px
	margin-right: 50px;
}
.formBoton{
	margin-top:	40px;
}
.enviar{
	color: #E1E1E1;
	background-color: #50508F;
	border: none;
	padding: 5px 30px; 
}
.formBoton [id="Limpiar"]{
	border-color: #e8e8e8 ;
	border-style: groove;
	padding: 5px 30px; 
}



/*******************	Control de alumno	*******************/
