.desc{
	display: flex;
	margin: 10px 50px;
}

.desc h3{
	margin-right: 100px;
}

.exam{
	background-color: white;
	color: black;
	border-style: groove;
	border-color: #e8e8e8;
	min-height: 400px;
	margin: 20px 50px;
}

.final{
	background-color: gray;
	color: white;
	padding: 5px;
	margin: 0 50px;
}

.preg{
	margin: 20px 20px;
}

.resp{
	display: flex;
	margin-left: 20px;
	margin-right: 100px; 
}