/*CSS Pagina de inicio*/

.startPage{
	background: white;
	margin: 0px 30px;
}

.titulo {
	margin: 0;
	padding-top: 25px;
	padding-bottom: 15px;
}
.progreso ul{
	padding: 0;
}
.progreso ul li {
		padding-bottom: 30px;
		padding-left: 120px;
		list-style: none;
		background-color: white;
		font-size: 25px;
}

.footer{
	text-align: center;
}

.footer button{
	border: none;
	background-color: #E1E1E1;
	color: black;
}

.footer button:hover{
	border-bottom: 2px solid #50508F;
	border-left: 2px solid #50508F;
	border-right: 2px solid #50508F;
}


.clasesAlu{
	border-bottom: 2px solid #50508F;
	width: 600px;
}

.clasesCont{
	background-color: #50508F;
	font-size: 15px;
	display: block;
	color: white;
	padding: 20px; 
	width: 500px;
	
}

/*CSS Pagina de inicio*/