body{
	font-family: 'Meiryo', sans-serif;
	margin: 0;
	background: #E1E1E1;
}

.main-header{
	
}

#login{
	color: white;
	padding-left: 20px;
	padding-top: 20px;
	font-size: 20px;
	text-decoration: none;
}
#login a:link{ 
text-decoration:none; 
} 


#login a:visited {
	color: white;
	display: none;
	text-align: left;

}
.logo{
	background-color: #32618D;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
}
.main-menu{
	text-align: center;
	background: #50508F;
	color: white;
}

.main-menu #login{
	text-align: left;
	list-style-type: none;

}

.main-menu ul{
	list-style: none;
	margin: 0;
	padding-bottom: 20px;
}

.main-menu ul li{
	display: inline-block;
	margin: 5px 10px;
	padding-left: 55px;
	color: white;
	padding-top: 20px;

}

.main-menu ul li a{
	font-weight: 700;
	text-decoration: none;
	
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	transition: all 0.2s ease-in;
	color: white;
}

.main-menu ul li a:hover{

	color: #8DABC2;
	border-bottom: 2px solid #8DABC2;
}
.container {
    margin: 0 auto;
    max-width: 80em;
   visibility: hidden;
   font-size: 1px;


}
.container ul li{
	display: inline-block;
}


/*******************	CSS login	*******************/
.login {
	background: white;
	margin: 0px 30px;
}
.login ul li{
	text-align: center;
	list-style: none;
}

.panelLogin{
	padding-top: 60px;
	height: 430px;
}

.campo{
	  	-moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
        border: 1px solid #000000;
        padding: 0 4px 0 4px;
        font-size: 20px;
        margin-bottom: 20px;

}
.btnIniciar{
	color: white;
	font-size: 20px;
	width: 150px;
	height: 40px;
	background-color: #50508f;
	border: 1px solid #000000;
}

/*******************	CSS login	*******************/


/*CSS responsivo*/
@media only screen and (max-width: 600px) {


}
/*******************	CSS responsivo	*******************/